<div class="center hero-unit">
  <h1>Добро пожаловать в контроллер финансов</h1>

  <h2>
    Это домашняя страница приложения
  </h2>

  <%= link_to "Зарегистрируйтесь", signup_path, class: "btn btn-large btn-primary" %>
</div>
