<% provide(:title, "Редактирование категории доходов") %>
<h1>Редактирование вашей категории</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for :income_category, url: income_category_path(@income_category),
      method: :patch do |f| %>
      <%= render 'error_message' %>

      <%= f.label :Название %>
      <%= f.text_field :name %>

      <%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to 'Назад', income_category_index_path %>
  </div>
</div>
