<% provide(:title, 'Все доходы') %>
<h1>Список доходов за <%= @header %></h1>

<div class="row">
  <div class="span6 offset3">
    <table cellpadding=5>
      <thead>
        <tr>
          <th>Имя</th>
          <th>Сумма</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <% @income_categories.each do |category| %>
        <tr>
          <td><strong><%= category.name %></strong></td>
          <td><%= category.amount %></td>
          <td><%= link_to 'Показать', income_category_path(category) %></td>
          <td><%= link_to 'Редактировать', edit_income_category_path(category) %></td>
          <td><%= link_to 'Удалить', income_category_path(category),
            method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
        <% @incomes_array[category.name].each do |income| %>
          <tr>
            <ul>
          <td>

            <li><%= income.description %> - <%= income.value %> - <%= income.date %></li>
            </td>
            <td></td>
            <td><%= link_to 'Показать', "/income_category/#{category.id}/incomes/#{income.id}" %></td>
            <td><%= link_to 'Редактировать', "/income_category/#{category.id}/incomes/#{income.id}/edit" %></td>
            <td><%= link_to 'Удалить', "/income_category/#{category.id}/incomes/#{income.id}",
              method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </ul></tr>
        <% end %>
        <tr>
          <td><ul><%= link_to 'Новый доход',
            new_income_category_income_path(category) %></ul></td>
        </tr>
      <% end %>
      <tr>
        <td><strong>Всего</strong></td>
        <td><strong><%= @summa %></strong></td>
      </tr>
    </tbody>
</table>

  <br>
  <%= link_to 'Новая категория', new_income_category_path %><br><br>

  <%= form_for :income_category, url: income_category_index_path,
    method: :get do |f| %>
    <b>Дата:</b>
    <%= select_date Date.today, prefix: :start_date %>
    <b>Период:</b><br>
    <%= select_tag(:period, options_for_select([['День', 1], ['Неделя', 2], ['Месяц', 3], ['Год', 4]])) %>
    <%= f.submit "Далее" %>
  <% end %>

  <%= link_to 'Назад к аккаунту', user_path(current_user) %>
  </div>
</div>
