<% provide(:title, @income_category.name) %>
<h1><%= @income_category.name %> за <%= @header %></h1>

<div class="row">
  <div class="span6 offset3">
    <p>
      <strong>Название:</strong>
      <%= @income_category.name %>
    </p>

    <p>
      <strong>Сумма:</strong>
      <%= @income_category.amount %>
    </p>

    <% @incomes_array.each do |income| %>
      <tr><td><ul>
            <li><%= income.description %> - <%= income.value %> - <%= income.date %></li></td>
             <td><%= link_to 'Показать', "/income_category/#{@income_category.id}/incomes/#{income.id}" %></td>
              <td><%= link_to 'Редактировать', "/income_category/#{@income_category.id}/incomes/#{income.id}/edit" %></td>
              <td><%= link_to 'Удалить', "/income_category/#{@income_category.id}/incomes/#{income.id}",
                method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </ul></tr>
    <% end %>
    <%= link_to 'Новый доход', new_income_category_income_path(@income_category) %>

    <br><br>
      <%= form_for :income_category, url: income_category_path,
        method: :get do |f| %>
        <b>Дата:</b>
        <%= select_date Date.today, prefix: :start_date %>
        <b>Период:</b><br>
        <%= select_tag(:period, options_for_select([['День', 1], ['Неделя', 2], ['Месяц', 3], ['Год', 4]])) %><br><br>
        <%= f.submit "Далее" %>
      <% end %>

    <%= link_to 'Назад', income_category_index_path %>
  </div>
</div>
