<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :Имя %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :Пароль %>
  <%= f.password_field :password %>

  <%= f.label :Подтверждение_пароля, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>
