<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'form' %>

    <%= gravatar_for @user %>
    <a href="https://gravatar.com/emails">change</a>
  </div>
</div>
