<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <br><br><br><br><br>
  <ul><h1> Выберите одно из предложеных действий: </h1>
    <li><h4>Просмотр, удаление, редактирование доходов</h4></li>
    <%= link_to 'Доходы', income_category_index_path %>
    <li><h4>Просмотр, удаление, редактирование расходов</h4></li>
    <%= link_to 'Расходы', expense_category_index_path %>
    <li><h4>Просмотр, удаление, редактирование счетов</h4></li>
    <%= link_to 'Счета', user_accounts_path(current_user) %>
    <li><h4>Бюджетирование доходов</h4></li>
    <%= link_to 'Бюджетирование доходов', predicted_incomes_path %>
    <li><h4>Бюджетирование расходов</h4></li>
    <%= link_to 'Бюджетирование расходов', predicted_expenses_path %>
    <li><h4>Диаграма доходов</h4></li>
    <%= link_to 'Диаграма доходов', visual_incomes_path %>
    <li><h4>Диаграма расходов</h4></li>
    <%= link_to 'Диаграма расходов', visual_expenses_path %>
  </ul>
  <br>
</div>
