<h1><%= @income_category.name%> редактирование дохода</h1>
<div class="row">
  <div class="span6 offset3">

    <%= form_for :income,
      url: "/income_category/#{@income.income_category_id}/incomes/#{@income.id}", method: :patch do |f| %>
      <%= render 'error_message' %>

      <%= f.label :Описание %>
      <%= f.text_field :description %>

      <%= f.label :Сумма %>
      <%= f.text_field :value %>

      <%= f.label :Дата %>
      <%= select_date Date.today, prefix: :start_date %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

    <% end %>
    <%= link_to 'К категории', income_category_path(@income_category) %>
  </div>
</div>
