<h1><%= @income_category.name %> новый доход</h1>
<div class="row">
  <div class="span6 offset3">

    <%= form_for :income,
      url: income_category_incomes_path do |f| %>
      <%= render 'error_message' %>

      <%= f.label :Описание %>
      <%= f.text_field :description %>

      <%= f.label :Сумма %>
      <%= f.text_field :value %>

      <%= f.label :date %>
      <%= select_date Date.today, prefix: :start_date %>

      <b>Выберите нужный счет:</b>
      <%= f.collection_select(:account_id, @accounts, :id, :name) %><br><br>
      <%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>

    <% end %>
    <%= link_to 'К категории', income_category_path(@income_category) %>
  </div>
</div>
