<% provide(:title, @income.description) %>

<p>
  <strong>Название:</strong>
  <%= @income.description %>
</p>

<p>
  <strong>Сумма:</strong>
  <%= @income.value %>
</p>

<p>
  <strong>Дата:</strong>
  <%= @income.date %>
</p>
<%= link_to 'К категории', income_category_path(@income_category) %>
