<h1>Редактирование прогноза</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for :predicted_expense,
      url: predicted_expense_path(@predicted_expense), method: :patch do |f| %>
      <%= render 'error_message' %>

      <%= f.label :Новая_сумма %>
      <%= f.text_field :amount %>

      <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to 'Назад', predicted_expenses_path %>
  </div>
</div>
