<% provide(:title, 'Бюджетирование расходов') %>
<h1>Бюджетирование расходов за <%= @header %></h1>

<div class="row">
  <div class="span6 offset3">
    <table cellpadding="5">
      <thead>
        <tr>
          <th align="center">Категория</th>
          <th align="center">Настоящая сумма</th>
          <th align="center">Предсказанная сумма</th>
          <th colspan="2"</th>
        </tr>
      </thead>

      <tbody>
        <% @expense_categories.each do |category| %>
          <tr>
            <td><strong><%= category.name %></strong></td>
            <td align="center"><%= category.amount %></td>
            <% if @predicted_expenses[category.name] %>
              <td align="center"><%= @predicted_expenses[category.name].amount %></td>
              <td><%= link_to 'Изменить', edit_predicted_expense_path(@predicted_expenses[category.name]) %></td>
              <td><%= link_to 'Удалить', predicted_expense_path(@predicted_expenses[category.name]),
                method: :delete, data: { confirm: 'Вы уверены?'}%></td>
            <% else %>
              <td></td>
              <td><%= link_to 'Создать', new_predicted_expense_path(category: category, date: @date)%></td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <td><strong>Всего</strong></td>
          <td align="center"><strong><%= @summa %></strong></td>
          <td align="center"><strong><%= @predicted_summa %></strong></td>
        </tr>
      </tbody>
    </table>

    <br><br>
    <%= form_for :predicted_expense, url: predicted_expenses_path,
      method: :get do |f| %>
      <b>Дата:</b>
      <%= select_month(Time.now) %>
      <%= select_year(Time.now) %>
      <%= f.submit "Далее" %>
    <% end %>

    <%= link_to 'Назад к аккаунту', user_path(current_user) %>
  </div>
</div>
