<h1>Бюджетирование для категории <%= @category.name %> за <%= @date.year %>/<%=@date.month%></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for :predicted_expense,
      url: predicted_expenses_path(category: @category.id, date: @date) do |f| %>
      <%= render 'error_message' %>

      <%= f.label :amount %>
      <%= f.text_field :amount %>

      <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to 'Назад', predicted_expenses_path %>
  </div>
</div>
