<% provide(:title, 'Создать новую категорию') %>
<h1>Создать новую категорию</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for :expense_category, url: expense_category_index_path do |f| %>
      <%= render 'error_message' %>

      <%= f.label :Название %>
      <%= f.text_field :name %>

      <%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to 'Назад', expense_category_index_path %>
  </div>
</div>
