<% provide(:title, @expense_category.name) %>
<h1><%= @expense_category.name %> за <%= @header %></h1>

<div class="row">
  <div class="span6 offset3">
    <p>
      <strong>Название:</strong>
      <%= @expense_category.name %>
    </p>

    <p>
      <strong>Сумма:</strong>
      <%= @expense_category.amount %>
    </p>

    <% @expenses_array.each do |expense| %>
      <tr><td><ul>
            <li><%= expense.description %> - <%= expense.value %> - <%= expense.date %></li></td>
             <td><%= link_to 'Показать', "/expense_category/#{@expense_category.id}/expenses/#{expense.id}" %></td>
              <td><%= link_to 'Редактировать', "/expense_category/#{@expense_category.id}/expenses/#{expense.id}/edit" %></td>
              <td><%= link_to 'Удалить', "/expense_category/#{@expense_category.id}/expenses/#{expense.id}",
                method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </ul></tr>
    <% end %>
    <%= link_to 'Новый доход', new_expense_category_expense_path(@expense_category) %>

    <br><br>
      <%= form_for :expense_category, url: expense_category_path,
        method: :get do |f| %>
        <b>Дата:</b>
        <%= select_date Date.today, prefix: :start_date %>
        <b>Период:</b><br>
        <%= select_tag(:period, options_for_select([['День', 1], ['Неделя', 2], ['Месяц', 3], ['Год', 4]])) %><br><br>
        <%= f.submit "Далее" %>
      <% end %>

    <%= link_to 'Назад', expense_category_index_path %>
  </div>
</div>
