<% provide(:title, 'Диаграма расходов') %>
<h1> Диаграма расходов за <%= @header %></h1>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% if @chart.all? {|name, amount| amount == 0} %>
  <h3 align="center">Список расходов за эту дату пуст</h3>
<% else %>
  <%= pie_chart @chart %>
<% end %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for :expense_category, url: visual_expenses_path,
      method: :get do |f| %>
      <b>Дата:</b>
      <%= select_date Date.today, prefix: :start_date %>
      <b>Период:</b><br>
      <%= select_tag(:period, options_for_select([['День', 1], ['Неделя', 2], ['Месяц', 3], ['Год', 4]])) %>
      <%= f.submit "Далее" %>
    <% end %>
  </div>
</div>
