<h1><%= @expense_category.nmne %> редактирование расхода</h1>
<div class="row">
  <div class="span6 offset3">

    <%= form_for :expense,
      url: "/expense_category/#{@expense.expense_category_id}/expenses/#{@expense.id}", method: :patch do |f| %>
      <%= render 'error_message' %>

      <%= f.label :Описание %>
      <%= f.text_field :description %>

      <%= f.label :Сумма %>
      <%= f.text_field :value %>

      <%= f.label :Дата %>
      <%= select_date Date.today, prefix: :start_date %>

      <%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>

    <% end %>
    <%= link_to 'К категории', expense_category_path(@expense_category) %>
  </div>
</div>
