<h1><%= @expense_category.name %> новый расход </h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for :expense,
      url: expense_category_expenses_path do |f| %>
      <%= render 'error_message' %>

      <%= f.label :Описание %>
      <%= f.text_field :description %>

      <%= f.label :Сумма %>
      <%= f.text_field :value %>

      <%= f.label :Дата %>
      <%= select_date Date.today, prefix: :start_date %>

      <b>Выберите нужный счет:</b>
      <%= f.collection_select(:account_id, @accounts, :id, :name) %><br><br>
      <%= f.submit "Cохранить изменения", class: "btn btn-large btn-primary" %>

    <% end %>
    <%= link_to 'К категории', expense_category_path(@expense_category) %>
  </div>
</div>
