<% provide(:title, @expense.description) %>

<p>
  <strong>Название:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Сумма:</strong>
  <%= @expense.value %>
</p>

<p>
  <strong>Дата:</strong>
  <%= @expense.date %>
</p>
<%= link_to 'К категории', expense_category_path(@expense_category) %>
