<footer class="footer">
  <small>
    Money Controller by Pasha Naumenko
  </small>
  <nav>
    <ul>
      <li><%= link_to "Про нас",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><a href="#">Новости</a></li>
    </ul>
  </nav>
</footer>
