<% provide(:title, 'All accounts') %>
<h1>Доступные счета</h1>

<div class="row">
  <div class="span6 offset3">
    <table cellpadding=5>
      <thead>
        <tr>
          <th><h4>Счет</h4></th>
          <th><h4>Сумма</h4></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><strong><%= account.name %></strong></td>
            <td><%= account.amount %></td>
            <td><%= link_to 'Показать', user_account_path(current_user, account) %></td>
            <td><%= link_to 'Редактировать', edit_user_account_path(current_user, account) %></td>
            <td><%= link_to 'Удалить', user_account_path(current_user, account),
              method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Новый счет', new_user_account_path(current_user) %><br><br>
    <%= link_to 'Перевод денег', accounts_transfer_path %><br><br>
    <%= link_to 'Назад к профилю', user_path(current_user) %>
  </div>
</div>
