<% provide(:title, 'Создать новый счет') %>
<h1>Создание нового счета</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for :account, url: user_accounts_path do |f| %>
      <%= render 'error_message' %>

      <%= f.label :Название %>
      <%= f.text_field :name %>

      <%= f.label :Сумма %>
      <%= f.text_field :amount %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to 'Назад', user_accounts_path %>
  </div>
</div>
