<% provide(:title, @account.name) %>
<h1><%= @account.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <p>
      <strong>Счет:</strong>
      <%= @account.name %>
    </p>

    <p>
      <strong>Сумма:</strong>
      <%= @account.amount %>
    </p>

    <%= link_to 'Назад', user_accounts_path %>
  </div>
</div>
