<% provide(:title, "Перевод") %>
<h1>Перевод денег со счета на счет</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for :account, url: accounts_new_transfer_path do |f| %>
      <b>Откуда:</b>
      <%= f.collection_select(:from, @accounts, :id, :name) %>

      <b>Куда:</b>
      <%= f.collection_select(:to, @accounts, :id, :name) %>

      <%= f.label :сумма %>
      <%= f.text_field :amount %>

      <%= f.submit "Перевести", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to 'Назад', user_accounts_path(current_user) %>
  </div>
</div>
